<!-- wp:template-part {"slug":"header","theme":"loomi-agency","tagName":"header"} /-->

<!-- wp:pattern {"slug": "loomi-agency/loomi-agency-hero-002"} /-->

<!-- wp:pattern {"slug": "loomi-agency/loomi-agency-featured-007"} /-->

<!-- wp:pattern {"slug": "loomi-agency/loomi-agency-team-001"} /-->

<!-- wp:pattern {"slug": "loomi-agency/loomi-agency-featured-005"} /-->

<!-- wp:pattern {"slug": "loomi-agency/loomi-agency-cta-001"} /-->

<!-- wp:template-part {"slug":"footer","theme":"loomi-agency","area":"footer"} /-->