<!-- wp:template-part {"slug":"header","theme":"loomi-agency","tagName":"header"} /-->

<!-- wp:pattern {"slug": "loomi-agency/loomi-agency-hero-003"} /-->

<!-- wp:pattern {"slug": "loomi-agency/loomi-agency-featured-008"} /-->

<!-- wp:pattern {"slug": "loomi-agency/loomi-agency-featured-006"} /-->

<!-- wp:pattern {"slug": "loomi-agency/loomi-agency-contact-001"} /-->

<!-- wp:pattern {"slug": "loomi-agency/loomi-agency-cta-001"} /-->

<!-- wp:template-part {"slug":"footer","theme":"loomi-agency","area":"footer"} /-->